@model App.ViewModels.EspecieViewModel

<div style="padding-top: 20px">
    <div>
        <hr />
        <h4>Biotérios</h4>
    </div>

    @if (Model != null)
    {
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Bioterios)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bioterio.Cnpj)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bioterio.Endereco.Estado)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>

            @{foreach (var bioterio in Model.Bioterios)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => bioterio.Nome)
                            </td>
                            <td>
                                @this.FormataCnpj(bioterio.Cnpj)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => bioterio.Endereco.Estado)
                            </td>
                            <td>
                                <a asp-controller="Bioterios" asp-action="Detalhes" asp-route-id="@bioterio.Id">Detalhes</a>
                            </td>
                        </tr>
              }
            }
        </table>
    }

</div>

<script>
    SetModal();
</script>

