@model Business.Models.ApplicationUser

@{
    ViewData["Title"] = "Deseja promover o usuário abaixo a presidente?";
}

<h1>@ViewData["Title"]</h1>

<div>
    <br />
    <h6>Caso haja um presidente atual, ele será rebaixado a pesquisador.</h6>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.Sexo)
        </dd>
    </dl>

    <form asp-action="Promover">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Promover" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>

