@model Business.Models.ApplicationUser

@{
    ViewData["Title"] = "Deseja rebaixar o usuário abaixo a pesquisador?";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.NomeCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.NomeCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.Sexo)
        </dd>
    </dl>

    <form asp-action="Rebaixar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Rebaixar" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>

